body{
    margin:0px;
    padding:0px;
    border:0px;
    background-color: #252628;
}

#navibar{
    background-color: #181818;
    height:97px;
    width:100%;
    display: table;
}

#home{
    float:left;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color:white;
    font-size: 35px;
    font-weight: bold;
    margin: 25px 60px;
    padding-left: 0;
    padding-right: 0;
}

#resume{
    float:left;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color:#3FC2FC;
    font-size: 35px;
    font-weight: bold;
    margin: 25px 60px;
    border-top: 4px solid #3FC2FC;
    padding-left: 0;
    padding-right: 0;
}

#link{
    float:right;
    margin: 25px 30px;
}

a{
    margin: 0px 5px;
}

a:visited,a:link,a:hover,a:active{
    text-decoration: none;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 2vw;
    font-weight: 100;
    color: #FFFFFF;
    letter-spacing: 0.6vw;
    margin-left: 60px;
    margin-bottom: 1vw;
    margin-top: 2vw;
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.6vw;
    font-weight: 600;
    margin-left: 60px;
    color: #FFFFFF;
    letter-spacing: 0.2vw;
    margin-bottom: 0.5vw;
    margin-top: 0;
}

h3{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.4vw;
    font-weight: 300;
    margin-left: 60px;
    color: #FFFFFF;
    letter-spacing: 0.3vw;
    margin-bottom: 0.3vw;
    margin-top: 0;
}

h4{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.2vw;
    font-weight: 50;
    margin-left: 60px;
    color: #FFFFFF;
    letter-spacing: 0.3vw;    
    margin-bottom: 0;
    margin-top: 0;
}